{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Pengantar
{% endblock %}

{% block content %}
    <p><h5><b>Baca dan pahami cerita berikut untuk menjawab pertanyaan selanjutnya</b></h5></p>
    <p>Info Umum</p>
	<p>Anda adalah warga negara <b>Nusa Makmur</b>. Pemerintah negara Nusa Makmur <b>mewajibkan setiap warga negara yang memiliki usaha untuk mencatat, membayar, dan melaporkan kontribusi wajib</b>. <b>Kontribusi wajib</b> tersebut akan <b>digunakan untuk membiayai kebutuhan negara Nusa Makmur</b>. Pemungutan <b>kontribusi wajib</b> dilakukan oleh <b>otoritas kontribusi wajib Nusa Makmur</b>.</p>
    <p>Nusa makmur menetapkan <b>perhitungan <b>kontribusi wajib</b></b> dengan cara yaitu:
        <ul>
            <li>tarif <b>kontribusi wajib</b> dikali <b>dengan omset (bukan dari laba) sebagai dasar pengenaan <b>kontribusi wajib</b></b>.
            </li>
            <li>Tarif <b>kontribusi wajib</b> telah <b>diturunkan dari 20% ke 10%</b>.
            </li>
        </ul>
    </p>
    <p>
        Untuk saat ini, Anda sebagai warga negara Nusa Makmur akan <b>mencatat, membayar</b> dan <b>melaporkan kontribusi wajib</b> dalam <b>15 periode</b>.
    </p>
    <p>
        Sebagai bentuk <b>pengawasan atas pembayaran dan pelaporan kontribusi wajib</b> maka otoritas <b>kontribusi wajib</b> Nusa Makmur diwajibkan melaksanakan pemeriksaan <b>kontribusi wajib</b> terhadap warga negara Nusa Makmur di akhir periode pembayaran dan pelaporan <b>kontribusi wajib</b>. Pemeriksaan ini dilakukan secara acak dengan probabilitas diperiksa sebesar <b>20% s.d. 40% </b>untuk masing-masing wajib <b>kontribusi wajib</b> pada setiap pelaporan <b>kontribusi wajib</b>-nya.
    </p>
	<p>Atas pemeriksaan yang dilakukan, jika terdapat <b>ketidakpatuhan pembayaran kontribusi wajib</b> atau dalam hal ini <b>omset yang dilaporkan tidak sesuai dengan omset yang sebenarnya</b> maka otoritas <b>kontribusi wajib</b> Nusa Makmur akan menetapkan denda sebesar <b>200% dari selisih kontribusi wajib yang kurang dibayar</b>.
    </p>
    <p>
        Isilah pertanyaan berikut terkait dengan informasi di atas dengan benar untuk dapat melanjutkan ke tahap berikutnya
        <br>Pilih jawaban yang <b>benar</b>
    </p>
    {{formfield 'q1'}}
    {{formfield 'q2'}}
    {{formfield 'q3'}}
    {{formfield 'q4'}}
    {{formfield 'q5'}}
    {{formfield 'q6'}}
    {{formfield 'q7'}}
    {{formfield 'q8'}}
    {{formfield 'q9'}}
    <br>
    <p>Tekan tombol 'Lanjut' jika Anda sudah selesai menjawab semua pertanyaan.</p>
    <button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}