{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Periode Inti ke-{{round}}
{% endblock %}

{% block content %}
<div id="jeda"></div>
<p id="ket">Tekan tombol 'Mulai' untuk memulai eksperimen.</p> 
<button class="otree-btn-next btn btn-primary">Mulai</button>
<script>
    var round = {{round}};
    if (round != 1) {
        document.getElementById("jeda").innerHTML = "<p>Sebelum menekan tombol 'Lanjut' untuk melanjutkan eskperimen,</p><p>Anda dapat menjeda dan istirahat di halaman ini.</p><p>Tidak perlu terburu-buru, pastikan Anda mengambil keputusan dengan optimal.</p><br><br><br><br>";
        document.getElementById("ket").innerHTML = "Tekan tombol 'Lanjut' untuk memulai melanjutkan eksperimen";
    } else {
        document.getElementById("jeda").innerHTML = "";
        document.getElementById("ket").innerHTML = "Tekan tombol 'Mulai' untuk memulai eksperimen.";
    }
</script>
{% endblock %}
